<div class="private-square span4 offset5 text-center">
  <h1>Share Your Awesome Dream</h1>
  <br/>
  <%= simple_form_for @post do |f| %>
  <%= f.input :title, label: 'What do you call your dream?', placeholder: 'Your creative dream title here.' %>
  <br/>
  <%= f.input :description, label: 'What happened in your dream?', placeholder: 'The story of your dream.' %>
   <br/>
  <%= f.input :image, label: 'Upload an Image (Optional)' %>
  <br/>
  <%= f.input :name, label: 'What is your name? (Optional)' %>
  <br/>
  <%= f.button :submit, :class => 'btn btn-info btn-large' %> 
  <% end %>
</div>